.place__title {
  display: flex;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: normal;
  margin: 0;
  align-items: flex-end;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 340px;
    max-height: 92px;
    font-size: 2.625rem;
    line-height: 2.875rem;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    max-width: 288px;
    max-height: 35px;
    font-size: 2rem;
    line-height: 2.2rem;
  }
}