.place__title {
  grid-area: place__title;
  display: flex;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: normal;
  margin: 0;
  align-items: flex-end;
  line-height: 106%;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 2.625rem;
  }
}

@media screen and (max-width: 550px) {
  .place__title {
    font-size: 2rem;
    max-width: 90%;
    margin-left: 16px;
  }
}