.places
{
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(5, 1fr);
	margin: 92px auto 0 auto;
	margin-bottom: 92px;
	max-width: calc(100% - 148px*2);
}
@media screen and (max-width: 1130px)
{
	.places
	{
		max-width: calc(100% - 48px*2);
	}
}
@media screen and (max-width: 900px)
{
	.places
	{
		margin-bottom: 90px;
		max-width: calc(100% - 24px*2);
	}
}
@media screen and (max-width: 370px)
{
	.places
	{
		grid-row-gap: 1%;
		margin-bottom: 66px;
		max-width: 100%;
	}
}