.place__image {
  object-fit: cover;
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}

@media screen and (max-width: 460px) {
  .place__image {
    max-height: 360px;
  }
}

@media screen and (max-width: 370px) and (min-width: 350px) {
  .place__image {
    max-height: 300px;
  }
}