 .lead {
   font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
   display: flex;
   flex-direction: column;
   max-width: 77%;
   margin: 56px auto 0 auto;
   box-sizing: border-box;
 }

 @media screen and (max-width: 1024px) {
   .lead {
     max-width: 90.6%;
   }
 }

 @media screen and (max-width: 600px) {
   .lead {
     max-width: 100%;
   }
 }