.header__logo {
    object-fit: cover;
    height: 100%;
    max-width: 176px;
    left: 0;
    bottom: 0;
    z-index: 1;
}


@media screen and (max-width: 425px) {
    .header__logo {
        max-width: 142px;
    }
}