.footer__link {
  font-style: normal;
  font-size: 1rem;
  line-height: normal;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 18px;
  transition: 0.5s;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .footer__link {
    margin-bottom: 32px;
    font-size: 1.5rem;
  }

  .footer__link:last-child {
    margin-bottom: 48px;
  }
}