.lead__subtitle {
  max-width: 65%;
  max-height: 7.2%;
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: normal;
  text-align: center;
  margin: 0 auto 64px auto;
}

@media screen and (max-width: 800px) {
  .lead__subtitle {
    max-width: 83%;
  }
}


@media screen and (max-width: 425px) {
  .lead__subtitle {
    max-width: 90%;
    font-size: 1rem;
    line-height: 125%;
    margin-bottom: 40px;
  }
}