.cover {
  max-width: 92.5%;
  margin: 0 auto 92px auto;
}

@media screen and (max-width: 1160px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 1160px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 840px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 570px) {
  .cover {
    min-height: 200px;
  }
}