.place__link {
  color: #FFFFFF;
  font-style: normal;
  text-decoration: underline;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 122%;
  max-width: 456px;
  transition: 0.5s;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .place__link {
    max-width: 352px;
  }
}

@media screen and (max-width: 550px) {
  .place__link {
    max-width: 288px;
  }
}