.cover__title
{
	color: #ffff;
	font-size: 4.5rem;
	font-style: normal;
	font-weight: 900;
	line-height: 106%;
	margin: 0 auto;
	max-width: 45%;
	text-align: center;
	text-decoration: none;
	z-index: 2;
}
@media screen and (max-width: 1050px)
{
	.cover__title
	{
		min-width: 55%;
	}
}
@media screen and (max-width: 1040px)
{
	.cover__title
	{
		min-width: 45%;
	}
}
@media screen and (max-width: 900px)
{
	.cover__title
	{
		min-width: 70%;
	}
}
@media screen and (max-width: 700px)
{
	.cover__title
	{
		font-size: 2rem;
		min-width: 50%;
	}
}
@media screen and (max-width: 400px)
{
	.cover__title
	{
		min-width: 75%;
	}
}