.cover__title {
  font-weight: 900;
  max-width: 45%;
  text-align: center;
  color: #ffff;
  text-decoration: none;
  font-style: normal;
  font-size: 4.5rem;
  line-height: 106%;
  z-index: 2;
  margin: 0 auto;
}

@media screen and (max-width: 1050px) {
  .cover__title {
    min-width: 55%;
  }
}

@media screen and (max-width: 1040px) {
  .cover__title {
    min-width: 45%;
  }
}

@media screen and (max-width: 900px) {
  .cover__title {
    min-width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .cover__title {
    min-width: 50%;
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .cover__title {
    min-width: 75%;
  }
}