.cover__title {
  position: absolute;
  max-width: 500px;
  max-height: 152px;
  color: #ffff;
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  z-index: 2;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    top: 195px;
  } }

@media screen and (max-width: 768px) {
  .cover__title {
    top: 115px;
} }

@media screen and (max-width: 425px) {
  .cover__title {
    top: 33px;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.25rem;
} }

