.footer {
  font-family: 'Inter-Regular';
  box-sizing: border-box;
  max-width: 92.5%;
  margin: 92px auto 24px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 90.6%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 93.75%;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    font-family: 'Inter-Black';
    max-width: 70%;
    flex-direction: column;
    margin: 64px auto 24px 16px;
  }
}