.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: normal;
  margin-bottom: 12px;
  max-width: 456px;
}

@media screen and (max-width: 550px) {
  .place__url-heading {
    max-width: 288px;
  }
}