.place__url-heading {
  color: #aaaaaa;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 170%;
  margin-bottom: 12px;
  max-width: 456px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  .place__url-heading {
    line-height: 100%;
  }
}
@media screen and (max-width: 425px) {
  .place__url-heading {
    max-width: 288px;
  }
}