.intro__title
{
	font-size: 3.375rem;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	margin-bottom: 40px;
	margin-top: 0;
	max-width: 100%;
}
@media screen and (max-width: 650px)
{
	.intro__title
	{
		font-size: 2rem;
	}
}